.Mdashboard{
    display: flex;
}

.Dash-Container{
    flex: 6;
        
} 

.widgets{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    gap: 20px;
}

.Welcome{
    padding: 10px;
    padding-left: 20px;
}

.chartM{
    display: flex;
    padding: 10px 20px;
    gap: 20px;

}