.Adashboard{
    display: flex;
}

.ADash-Container{
    flex: 6;
        
} 

.card1{  
    margin: auto;
    padding-top: 20px;
}

.minicard{
    margin-top: 0.4rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;


}

.cardone{
    background-color: #ffffff;
    height: 450px;
    color: #000000;
    border-radius: 0.75rem;
    -webkit-box-shadow: 2px 4px 10px #000000;
    box-shadow: 2px 4px 10px 1px #c4bfbf;
    width: 25%;
    height: 470px;
    display: flex;
    flex-direction: column;
    
}


.cardonemini{
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: #4f46e5;
    display: flex;
    height: 14rem;
    justify-content: center;
    align-items: center;
    
}

.cardoneimage{
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
}

.cardonedetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem; 
    padding: 1rem;

}

.cardtitle{
    color: #000000;
    font-size: 1.25rem;
    font-weight: 600;
}

.carddis{
    color: #000000;
}

.cardbutton{
    background-color: #f70338;
    color: #fff;
    font-size: 1.125rem;
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem;
    border-radius: 0.75rem;
}

.cardspan{
    color: #000000; 
    font-size: 2rem;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 25px;


}
.cardone1{
    background-color: #ffffff;
    height: 450px;
    color: #000000;
    border-radius: 0.75rem;
    -webkit-box-shadow: 2px 4px 10px #000000;
    box-shadow: 2px 4px 10px 1px #c4bfbf;
    width: 25%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cardicon{
    width: 95px;
    
}

.Adddp{
    color: #3e3e3e;
    margin: 22px;
    
    
}