.Plans-head{
    
display: flex;
gap: 7rem;
font-weight: bold;
font-size: 3.5rem;
justify-content: center;
color: white;
text-transform: uppercase;
font-style: italic;
}

.Plans-container{
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

.Plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plan{

    display: flex;
    flex-direction: column;
    background: var(--caloryCard);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;

}

.plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);


}

.plan>svg{
    fill: rgb(255, 81, 0);
    width: 2rem;
    height: 2rem;
}

.plan>:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
}

.plan>:nth-child(3){
    font-size: 3rem;
    font-weight: bold;
}

.plan>:nth-child(5){
    font-size: 0.8rem;
   
}

.features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature>img{
    width: 1rem;
}

.Plans>:nth-child(2)>svg{
    fill: white;
}

.Plans>:nth-child(2)>button{
    color: orange;
}